################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Api/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/storage.ide-wal
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/storage.ide-shm
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/storage.ide
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/db.lock
/MMS.Api/.vs/MMS.Api/v16/.suo
/MMS.Api/WebApi/obj
/MMS.Api/.vs/MMS.Api
/MMS.Api/BussinessLayer/MMS.Api.BussinessLayer.Entities/bin/Debug/netcoreapp2.2
/MMS.Api/BussinessLayer/MMS.Api.BussinessLayer.Entities/obj
/MMS.Api/BussinessLayer/MMS.Api.BussinessServices.Concrets/bin/Debug/netcoreapp2.2
/MMS.Api/BussinessLayer/MMS.Api.BussinessServices.Concrets/obj
/MMS.Api/BussinessLayer/MMS.Api.BussinessServices.Interfaces/bin/Debug/netcoreapp2.2
/MMS.Api/BussinessLayer/MMS.Api.BussinessServices.Interfaces/obj
/MMS.Api/Common/MMS.Api.Common/bin/Debug/netcoreapp2.2
/MMS.Api/Common/MMS.Api.Common/obj
/MMS.Api/DataAccessLayer/MMS.Api.DataAccessServices.Concretes/bin/Debug/netcoreapp2.2
/MMS.Api/DataAccessLayer/MMS.Api.DataAccessServices.Concretes/obj
/MMS.Api/DataAccessLayer/MMS.Api.DataAccessServices.Entities/obj
/MMS.Api/DataAccessLayer/MMS.Api.DataAccessServices.Entities/bin/Debug/netcoreapp2.2
/MMS.Api/DataAccessLayer/MMS.Api.DataAccessServices.Interfaces/obj
/MMS.Api/DataAccessLayer/MMS.Api.DataAccessServices.Interfaces/bin/Debug/netcoreapp2.2
/MMS.Api/WebApi/bin/Debug/netcoreapp2.2
/.vs/MMS/v16
/.vs/MMS/config
/MMS.Api/Accoon.MMS.Api.Application/bin/Debug/netcoreapp2.2
/MMS.Api/Accoon.MMS.Api.Application/obj
/MMS.Api/Accoon.MMS.Api.Domain/bin/Debug/netcoreapp2.2
/MMS.Api/Accoon.MMS.Api.Domain/obj
/MMS.Api/Accoon.MMS.Api.Infastructure/bin/Debug/netcoreapp2.2
/MMS.Api/Accoon.MMS.Api.Infastructure/obj
/MMS.Api/Accoon.MMS.Api.Persistence/bin/Debug/netcoreapp2.2
/MMS.Api/Accoon.MMS.Api.Persistence/obj
/MMS.Api/Accoon.MMS.Api.Presenter/bin/Debug/netcoreapp2.2
/MMS.Api/Accoon.MMS.Api.Presenter/obj
/.vs/MMS/DesignTimeBuild/.dtbcache
/MMS.Api
