################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Api/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/storage.ide-wal
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/storage.ide-shm
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/storage.ide
/MMS.Api/.vs/MMS.Api/v16/Server/sqlite3/db.lock
/MMS.Api/.vs/MMS.Api/v16/.suo
/MMS.Api/WebApi/obj
